<style>
  .nav.nav-link {
    color: FFFFFF;
}
a {
    color: #fff;
}

 .fontForCommits{
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
padding-right: 40px;
}

nav.v_menu  a {
	display: block;
   
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
    height: 48px;
}
nav.v_menu  a:hover {
	color: white;
	background: #085280;
}
nav.v_menu  a:focus {
	color: white;
	background: #085280;
}
nav.v_menu  a:active {
	color: white;
	background: #085280;
}
.ccMBS{
    width: 502px;
    height: 45px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #4A4A4A;
}
.calenderDropDown{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #0A649D;
    }

</style>
<div class="row">
        <div class="flex-column" style="width:236px;height:2388px;">
            <nav class="nav flex-column fontForCommits v_menu" 
                style="background:#0C77BA;color:#FFFFFF;height: 100%;">
                <a class="" style="text-align: center;">Graphs</a>
                <a class="nav-link">Commitments Confirmed (CC)</a>
                <a class="nav-link">Commitment Confirmation within One Day</a>
                <a class="nav-link">locked Files</a>
                <a class="nav-link">Completion Time</a>
                <a class="nav-link">Commitment Confirmed  Smart</a>
                <a class="nav-link">Table  Metrics</a>
            </nav>
        </div>
<div class="flex-column" style="background-color: #F4F4F4;width: 1104px;"> 
    <div class="row justify-content-between" style="padding-left: 45px;padding-top: 30px;width: 100%;">
        <div class="flex-column ccMBS">
             <span> Commitments Confirmed (CC) </span>
        </div>
        <div class="flex-column calenderDropDown" style="padding-top: 5px;">
            <!-- <mdb-date-picker></mdb-date-picker> -->
            
       </div>
     </div>

</div>