<div class="container">
    <h1>User Form</h1>
    <form #templateForm="ngForm">
      <div class="form-group">
        <label for="fName">First Name</label>
        
        <input type="text" 
        [(ngModel)]="model.firstName" name="fName"
        class="form-control" id="initialName" required #refName="ngModel"/>

        <div [hidden]="refName.valid || refName.pristine"
              class="alert alert-danger">
               Name is required
       </div>

        <!-- <span> {{refName.className}}</span> -->
      </div>

       <div class="form-group">
        <label for="tname">Name</label>
        <input type="text" class="form-control" id="tname"
               required
               [(ngModel)]="model.name" name="tname"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
      
      <div class="form-group">
          <label for="lName">Last Name</label>
          <input type="text" class="form-control" 
          [(ngModel)]="model.lastName" name="lName"
          id="lName" required>
          </div>
        
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" 
        [(ngModel)]="model.age" name="age"
        class="form-control" id="age">
        
      </div>
      

      <div class="form-group">
          <label for="gender">Gender</label> 
          <select class="form-control" id="gender"
                    required
                    [(ngModel)]="model.gender" name="gender">
                    
              <option *ngFor="let item of gender" [value]="item">{{item}}</option>
            </select>
      </div>
 
      <button type="submit" class="btn btn-success" 
              (click)="submit()"
              [disabled]="!templateForm.form.valid"
              >Submit</button>
 
     <!-- <span> {{model.lastName}} {{model.firstName}} {{model.age}} </span>   -->
      
     <!-- The NgForm directive supplements the form element with additional features. 
     It holds the controls you created for the elements with an ngModel directive and name attribute, 
     and monitors their properties, including their validity. It also has its own valid property which 
     is true only if every contained control is valid. 
    
     Internally, Angular creates FormControl instances and registers them with an NgForm directive that Angular
     attached to the <form> tag. Each FormControl is registered under the name you assigned to the name attribute.
     Read more in the previous section
    -->

    </form>

   
</div>
