
<div>
<!-- edit mode -->
<div class="container" id="editComponent" *ngIf="showEditView">
<div class="row">
      <div class="col-24"> 
            <div class="title-small" style="padding-top:20px;padding-left: 20px">
            Change Adjustment | {{selectedPayment.paymentCode}}
            </div>
      </div>
 </div>
   
    <div class="row align-items-center" style="padding-top: 10px;padding-left:20px">
        <div class="col"> 
            <div class="row">
              <div class="title-small">
                  <input type="email" 
                  style="width:200px"
                  id="inputEmail" 
                  class="form-control" 
                  placeholder="Enter Price" 
                  value="{{selectedPayment.amount}}"
                  required="" 
                  autofocus=""/>
                 </div>
                 <button type="button"style="margin-left:40px;" class="btn btn-primary">Submit</button>
                 <button type="button" 
                         style="margin-left:40px;"  
                         class="btn btn-light" (click)="cancelEditView()">Cancel</button>
                
                </div>
        </div>
        <div class="col"> 
            <div class="title-small">
              
            </div>
      </div>
    </div>
  </div>

  <!-- content-display -->
    <div class="container" id="addComponent" *ngIf="!displayContent">
        <!-- <div *ngFor="let payment of payments;let i =index">
            <div [ngStyle]="{'padding':'23px 2px 18px 16px'}"> -->
              <!-- <span><i class="fa fa-flag"></i></span> -->
              <!-- <span [ngStyle]="{'font-size':'16px','color':'#5a5a5a'}">
                </span>
            </div>
          </div> -->

        <div class="row align-items-center" style="padding-top: 10px;padding-left:20px">
           <div class="col">
              <div>
                <span style="color:#303133"> {{selectedPayment.paymentDesc}}</span>
                <span style="padding-left: 60px">{{selectedPayment.paymentCode}}</span>  
                <span style="padding-left: 60px">{{selectedPayment.amount | currency}}</span>
                <button class="btn btn-link" 
                        style="padding-left: 60px" 
                        (click)="onAdd()">Add</button>

                <span class="hyperlink">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; </span>
                <button class="btn btn-link" (click)="onEdit(payment)">Edit</button>
                <span class="hyperlink">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; </span>
                <button class="btn btn-link">Delete</button>
              </div>
              <div class="col offset"></div>
           </div>
    
    </div>

    
    <!-- new component -->
    <div class="container" id="newComponent" *ngIf="showNewItem">
      
        <div class="row align-items-center" style="padding-top: 10px;padding-left:20px">
            <div class="col"> 
                <div class="row">

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" 
                                type="button" 
                                id="dropdownMenu2" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button">Action</button>
                          <button class="dropdown-item" type="button">Another action</button>
                          <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                      </div>
                      

                  <div class="title-small" style="padding-left: 40px;">
                      <input type="email" 
                      style="width:200px;"
                      id="inputEmail" 
                      class="form-control" 
                      placeholder="Enter Price" 
                      required="" 
                      autofocus=""/>
                     </div>
                     <button type="button"style="margin-left:40px;" 
                             class="btn btn-primary">Submit</button>
                     <button type="button"style="margin-left:40px;" 
                             class="btn btn-light" (click)="hideAddComponent()">Cancel</button>
                    </div>
            </div>
    
    </div>
  </div>

</div>

</div>


  